
a{
    text-decoration: none;
    color: black;

}

ol{
    margin: 20px;
    list-style-position: inside;
    padding: 0px;
}

li{

    text-align: left;
    padding: 5px;
    border-color: rgb(223, 213, 213);
    border-style:solid ;
    margin-bottom: 5px;

}

span{
    color: darkgray;
}


h4{
    height: 800px;
}
.content {
height: 800px;
  }
  